html
  head
    title Dagens Industri developer case
    style.
        body {
            background: #f7eae4;
            font-family: BentonSans, sans-serif;
            padding-bottom: 100px;
        }
        a {
            text-decoration: none;
            max-width: 500px;
            display: block;
        }
        #article img {
            width: 500px;
            filter: brightness(1);
        }
        #article:hover img {
            width: 500px;
            filter: brightness(1.1);
        }
        h3 {
            margin: 0px;
        }
        #article #inner {
            padding: 5px;
        }
        #article #inner p {
            padding: 0px;
            margin: 0px;
        }
        #article {
            overflow: hidden;
            max-width: 500px;
            margin-bottom: 10px;
            background-color: #fef7f4;
            color: #000000;
            line-height: 1.5;
            border-bottom: 3px solid #eee2dd;
        }
        #article:hover {
            background: #ffffff;
        }
  body !{content}